@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root{
  height: 100%;
  background-color: #DDF2FD;
  color-scheme: dark;
}

.footer {
  position: relative; /* or 'sticky' if you want it to stick within a certain container */
  margin-top: 150px;
  width: 100%;
}

.cfooter {
  position: relative; /* or 'sticky' if you want it to stick within a certain container */
  bottom: -235px;
  
  width: 100%;
}